user  {{ main_template_user }};
worker_processes  {{ main_template_worker_processes }};

# set open fd limit to 150000
worker_rlimit_nofile 150000;

error_log  /var/log/nginx/error.log {{ main_template_error_level }};
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ main_template_worker_connections }};
}

{% if http_template_enable %}
http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    ###This header enables the Cross-site scripting (XSS) filter built into most recent web browsers.

    add_header X-XSS-Protection "1; mode=block";

    ###The X-Content-Type-Options is an HTTP header used to do just that – increase the security of your website

    ###The X-Content-Type-Options header is used to protect against MIME sniffing vulnerabilities. 

    ### read more for detail in https://www.keycdn.com/support/x-content-type-options/

    add_header X-Content-Type-Options nosniff;

    add_header X-Frame-Options "deny";

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';



	log_format	logstash 	'[$time_local] $remote_addr "$request" '

                      			'$status $body_bytes_sent $request_time "$http_referer" '

                      			'"$http_user_agent" "$http_x_forwarded_for"';



	log_format	web 		'[$time_local] $remote_addr "$request" '

                      			'$status $body_bytes_sent $request_time "$http_referer" '

                      			'"$http_user_agent" "$http_x_forwarded_for"';

					

        log_format     cloudflare       '[$time_local] $remote_addr "$request" '

                                        '$status $body_bytes_sent $request_time "$http_referer" '

                                        '"$http_user_agent" "$http_x_forwarded_for"' ' "$http_cf_ray"';



    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  {{ http_template_keepalive_timeout }};

    #gzip  on;

    include /etc/nginx/conf.d/*.conf;

	# Cloudflare

	#restore original visitor IP with Nginx

        set_real_ip_from 103.21.244.0/22;

	set_real_ip_from 103.22.200.0/22;

        set_real_ip_from 103.31.4.0/22;

        set_real_ip_from 104.16.0.0/12;

        set_real_ip_from 108.162.192.0/18;

        set_real_ip_from 131.0.72.0/22;

        set_real_ip_from 141.101.64.0/18;

        set_real_ip_from 162.158.0.0/15;

        set_real_ip_from 172.64.0.0/13;

        set_real_ip_from 173.245.48.0/20;

        set_real_ip_from 188.114.96.0/20;

        set_real_ip_from 190.93.240.0/20;

        set_real_ip_from 197.234.240.0/22;

        set_real_ip_from 198.41.128.0/17;

        set_real_ip_from 199.27.128.0/21;

        set_real_ip_from 2400:cb00::/32;

        set_real_ip_from 2606:4700::/32;

        set_real_ip_from 2803:f800::/32;

        set_real_ip_from 2405:b500::/32;

        set_real_ip_from 2405:8100::/32;

	#use any of the following two

        real_ip_header CF-Connecting-IP;

        #real_ip_header X-Forwarded-For;

server {
        listen       80 default_server;
        listen       [::]:80 default_server;
        server_name  _;
        root         /usr/share/nginx/html;


        location / {
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}
{% endif %}

{% if stream_template_enable %}
stream {
    include /etc/nginx/conf.d/stream/*.conf;
}
{% endif %}
